<table width=(%HTMLBASEWIDTH%) cellspacing=0 cellpadding=0 bgcolor="#C6D7CF">
<form method=post action="(%ENV_SCRIPT_NAME%)">
<input type=hidden name=cmd value=(%INPUT_cmd%)>
<input type=hidden name=style value="(%INPUT_style%)">
<input type=hidden name=sid value=(%INPUT_sid%)>
<input type=hidden name=do value=1>
        <tr>
                <td class=tiny>&nbsp</td>
        </tr>
        <tr>
                <td>(%REPORTQUERY%)</td>
        </tr>
        <tr>
                <td class=tiny>&nbsp</td>
        </tr>
</table>
<br class=tiny>
<table width=(%HTMLBASEWIDTH%) cellspacing=0 cellpadding=0>
 <tr>
  <td align=right>
   <input type=submit value="Build Report">
  </td>
 </tr>
</form>
</table>
<br class=tiny>
<table width=(%HTMLBASEWIDTH%) cellspacing=0 cellpadding=0 >
(%REPORT%)
</table>
<br class=tiny>
